@font-face {
    font-family: Satoshi;
    src: url(fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi Black;
    src: url(fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf);
}

@font-face {
    font-family: Satoshi;
    src: url(fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Michelia;
    src: url(fonts/Michelia/Michelia.otf);
}

@font-face {
    font-family: Playdair Display;
    src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}


:root {
    --red: #90242A;
    --black: #1C1C1C;
    --infrared:#DE3740;

}

/* html{
    font-size: 62.5%;
    overflow-x:hidden;

 } */

* {
    text-decoration: none;
}

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Satoshi', sans-serif;

 }

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Satoshi', sans-serif;

}


body {
    margin: 0;
    font-family: 'Satoshi', 'Arial', 'Helvetica', 'sans-serif';
    overflow-x: hidden;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

@media(max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
}



.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    /* font-size: 1.5625rem; */
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    /* scale: 0.5; */
}

@media (max-width:800px) {
    #oeil{
        width: 75px;
    }
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 2rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2rem;
    color: var(--text-color);
    display: none;
}

@media(max-width:768px) {

    #menu-icon {
        display: block;
        color: white;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        /* padding: 1rem 3%; */
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
        /* max-width: 100vw; */
        text-align: center;
        background: var(--black);
    }

    .navbar a {
        display: block;
        font-size: 1.5rem;
        margin: 3rem 0;
    }
}


/* -------------- Page d'accueil -------------- */

nav {
    /* position: absolute;
    top: 2rem; */
    color: white;
}
@media(min-width:800px){
section{
    padding: 2rem 10rem;
}


}


#hero {
    background-image:
        linear-gradient(0deg, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 100%),
        url(img/tableaux/suzanne_valadon_portrait.png);
    /* background-size: contain; */
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* padding: 15rem; */
}

@media screen and (min-width:900px) {
    #hero {
        /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3561799719887955) 18%, rgba(0, 0, 0, 1) 66%), url(img/tableaux/autoportrait-1.png); */
        background: url(img/éléments/bg_accueil.png);
        width: 100vw;
        height: 100vh;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
        text-align: end;
        padding: 15rem;
    }
}

#bloc_titre {
    width: 80vw;
    margin-bottom: 5rem;
}

@media(min-width:800px){
    #bloc_titre{
        width: 30vw;
    }

    h1{
        font-size: 8rem;
    }
}

@media(max-width:800px){
    h1{
        font-size: 5rem;
    }
}

h1 {
    color: white;
    text-align: center;
    /* font-size: 5rem;  */
    margin-bottom: 1rem;
    font-family: "Michelia";
    font-weight: normal;
    text-transform: uppercase;
    line-height: 9rem;
}

.sous_titre {
    color: var(--red);
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Playfair Display';
}

#description {
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

#button {
    font-size: 1.5rem;
    padding: 0.5rem 5rem;
    border: solid white 2px;
    border-radius: 120px;
    /* margin: 0; */
    text-align: center;
    

}

@media(min-width:800px){
    h1,.sous_titre , #description{
        text-align: end;
    }
}

span {
    color: white;
}

/* ------------------------- 2eme section ------------------------- */

#second {
    /* height: 40vh; */
    padding: 3rem 0;
    width: 100vw;
    background: var(--red);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 0 10rem; */
}

#contenu_second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background: #7fd77e; */
}

#titre_coordonnees {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Satoshi Black';
    font-weight: bolder;
    /* scale: 0.5; */
    /* margin: 0; */
    /* gap: 0; */
    width: 80%;
    margin-bottom: 2.5rem;
}

#coordonnees {
    color: white;
    /* position: absolute; */



}

.co {
    /* gap: 1rem; */
    /* margin: 1rem 0; */
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.icon{
    /* height: 2rem;
    width: 2rem; */
    /* margin: 0 3rem; */
    padding-right: 1rem;
    display: flex;
}


@media(min-width:800px){

    #second{
        padding: 0;
        height: 40vh;
        justify-content: flex-start;
    }
    
    #titre_coordonnees{
        font-size: 4.375rem;
        margin-bottom: 0;
    }

    #contenu_second{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        /* width: 80vw; */
    }

    #titre_coordonnees{
        width: 35%;
        text-align: left;
    }
}

/* ------------------------- Banderole ------------------------- */

#banderole {
    height: 20vh;
    background: white;
}




/* ------------------------- 3eme section ------------------------- */


#third{
    background: var(--black);
    /* height: 200vh; */
    width: 100vw;
    color: white;
    /* min-height: 90vh; */
    position: relative;
    
}

#contenu_third{
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 8rem;
}

#third > h2{
    font-family: "Satoshi Black";
    font-size: 5rem;
    width: 40vw;
    display: flex;
    /* justify-self: center;
    align-self: center; */
    margin: 0;
}

.paragraphe{
 font-size: 1.375rem;
 width: 50%;   
 border-left: 3px solid #ffffff;
 padding-left: 2rem;
}



@media(max-width:800px){
    #third > h2{
        font-size: 3rem;
        margin: auto;
        width: 80%;
        padding-bottom: 6rem;
        padding-top: 2rem;
    }

    #contenu_third{
        justify-content: center;
        align-items: center;
        bottom: 5rem;
    }

    #contenu_third :nth-child(1) { order: 2; }

    .paragraphe{
        font-size: 1rem;
        width: 80%;
        border: 0;
        padding-left: 1rem;
        border-left: 1px solid #ffffff;
        position: relative;
        right: 1rem;
    }

    figure{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    figure > img{
       width: 80%;
       height: auto;
       text-align: center;
    }
}


/* -------------------- quatrieme section (vr) -------------------- */



#fourth{
    background: var(--black);
    min-height: 100vh;
    /* background: var(--black) ; */
}

#fourth > h2{
    font-size: 5rem;
    /* width: 40vw; */
    display: flex;
    /* justify-self: center;
    align-self: center; */
    margin: 0;
    color: white;
}

h2{
    font-family: "Satoshi Black";
    max-width: 100%;
    font-size: 3rem;
}

#contenu_fourth{
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 8rem;
    /* min-height: 100vh; */
    height: 100vh;
    
}

#images_fourth{
    width: 45%;
    height: 100%;
    /* background: #ffffff; */

    background-image: url(img/éléments/bg_tableaux.png);
    background-repeat: no-repeat;
    background-position: center;
    scale: 1.1;

}

#paragraphe_fourth{
font-size: 1.375rem;
 width: 40%;   
 border-left: 3px solid #ffffff;
 padding-left: 2rem;
 color: white;
}
















/* ---------------------- Page Suzanne Valadon ------------------------ */

#sz_hero{
    height: 100vh;
    width: 100vw;
    background: 
    /* linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3561799719887955) 18%, rgba(0, 0, 0, 1) 66%), */
     url(img/éléments/bg_suzanne.png);
     background-repeat: no-repeat;
     background-size: cover;
    position: relative;
}

#bande_rouge{
    background: var(--red);
    height: 5vh;
    width: 100vw;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}

#profil{
    width: 100vw;
    background: white;
    height: 300vh;
}




/* ---------------------- Page Expo ------------------------ */

#expo_hero{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 100vh;
    background: var(--black);
    background-image: url(img/éléments/expo_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: bottom left; */
}

#bloc_titre_expo{
    width: 30vw;
    color: white;
}

#titre_expo{
    font-size: 6rem;
    font-family: "Playfair Display";
    /* font-weight: 800; */
    
}

#paragraphe_expo{
    /* font-size: 2rem; */
    border-left: 5px solid white;
    padding-left: 2rem;
    width: 30vw;
    
}




p{
    font-size: 1.375rem;
}

@media (max-width: 900px){
    p{
        font-size: 1rem ;
    }
}

#second_expo{
    min-height: 80vh;
    background: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    /* padding: 0 0; */
    padding-right: 0;
}


#un_second_expo{
    width: 40%;
    /* background: white; */
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    border-left: var(--red) 5px solid;
    padding-left: 2rem;
    color: white;
}

#cadre_second_expo{
    display: flex;
    justify-content: end;
    align-items: end;
}

#third_expo{
    min-height: 80vh;
    background: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
    /* padding: 0 0; */
    padding-left: 0;
    padding-bottom: 0;
}

#cadre_third_expo{
    opacity: 0.4;
}

#un_third_expo{
    width: 40%;
    /* background: white; */
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    border-left: var(--red) 5px solid;
    padding-left: 2rem;
    color: white;
}


#tableaux{
    background: var(--black);
    background-image: url(img/éléments/payasage_bg.png);
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}



/* Carousel */

/* #carousel *{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

#cCarousel {
    position: relative;
    max-width: 900px;
    margin: auto;
  }
  
  #cCarousel .arrow {
    position: absolute;
    top: 50%;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    font-size: 26px;
    color: white;
    background: #00000072;
    cursor: pointer;
  }
  
  #cCarousel #prev {
    left: 0px;
  }
  
  #cCarousel #next {
    right: 0px;
  }
  
  #carousel-vp {
    width: 770px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  
  @media (max-width: 770px) {
    #carousel-vp {
      width: 510px;
    }
  }
  
  @media (max-width: 510px) {
    #carousel-vp {
      width: 250px;
    }
  }
  
  #cCarousel #cCarousel-inner {
    display: flex;
    position: absolute;
    transition: 0.3s ease-in-out;
    gap: 10px;
    left: 0px;
  }
  
  .cCarousel-item {
    width: 250px;
    height: 365px;
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .cCarousel-item img {
    width: 100%;
    object-fit: cover;
    min-height: 246px;
    color: white;
  }
  
  .cCarousel-item .infos {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: white;
    color: black;
  }
  
  .cCarousel-item .infos button {
    background: #222;
    padding: 10px 30px;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }